/*----------------------------------------*/
/*  18. Footer CSS
/*----------------------------------------*/

.footer-section {
    padding: 0;
    background-color: #f4f4f4;
    color: #000;
    overflow: hidden;

    .container {
        padding-top: 4rem;
        padding-bottom: 2.5rem;
    }

    .copyright {
        .container {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.copyright {
    font-size: 14px;
    text-align: center;
    color: #ABABAB;
}

.dark-mode {
    .footer-section {
        background-color: $bg-dark-secondary;
    }
}