/*----------------------------------------*/
/*  18. Footer CSS
/*----------------------------------------*/

.footer-section {
    padding: 0;
    background-color: $footer-navbar;
    color: $footer-font-color;
    overflow: hidden;

    .container {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .copyright {
        background-color: $footer-copyright;
        .container {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.copyright {
    font-size: 14px;
    text-align: center;
    color: #ABABAB;
}

.dark-mode {
    .footer-section {
        background-color: $footer-font-color;
    }
}