/*----------------------------------------*/
/*  05. Header CSS
/*----------------------------------------*/

/* Header Section */
.header-section {
    min-height: 80px;
    font-family: $roboto-condensed;

    & .header-inner {
        // z-index: 1099;
        z-index: 1039;
        display: flex;
        align-items: center;
        min-height: 80px;
        background-color: $white;
    }

    &.is-sticky {
        &.header-sticky-bg-dark {
            .header-inner {
                background-color: #000 !important;
            }
        }

        & .header-inner {
            position: fixed;
            top: 0;
            left: 0;
            background-color: $white !important;
            width: 100%;
            animation: headerSlideDown 0.95s ease forwards;
            box-shadow: 0 8px 20px 0 rgba($black, 0.1);
        }
    }

    // Header Fluid
    &.header-fluid {
        & .container {
            max-width: 100%;

            @media #{$extraBig-device} {
                padding-right: 150px;
                padding-left: 150px;
            }
        }
    }

    &.header-fluid-two {
        & .container {
            max-width: 100%;

            @media #{$extraBig-device} {
                padding-right: 240px;
                padding-left: 240px;
            }
        }
    }

    // Header Shadow
    &.header-shadow {
        & .header-inner {
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
        }
    }

    // Header Transparent
    &.header-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        & .header-inner {
            background-color: transparent;
        }
    }

    // Header Light
    &.header-light {
        & .header-login {
            & a {
                color: $white;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

.header-shadow {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

@keyframes headerSlideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@import 'header/logo';

/* Header Right */
.header-right {
    font-size: 16px;

    &>.inner {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0 -10px;
    }

    .dropdown-toggle {
        color: $body-color;
    }

    .dropdown-menu {
        position: absolute;
        top: 25px !important;
        padding: 18px 0;
        margin-top: 0;
        border: none;
        border-bottom: 4px solid $primary;
        border-radius: 0;
        background-color: $white;
        box-shadow: 0 2px 29px rgba($black, 0.05);

        li {
            position: relative;

            a {
                font-size: 18px;
                font-weight: 400;
                line-height: 1.375;
                display: block;
                padding: 8px 30px;
                white-space: nowrap;
                color: $body-color;

                &.dropdown-item {
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: transparent;
                        color: $primary;
                    }
                }

                &.nuxt-link-exact-active {
                    color: $primary;
                }
            }
        }
    }

    .far {
        font-size: 18px;
    }

    @media #{$extra-small-mobile} {
        &>.inner {
            margin: 0 -8px;
        }
    }
}

.header-login {
    & a {
        line-height: 1;
        display: flex;
        padding: 6px 10px;
        color: #111111;

        & i {
            font-size: 18px;
        }

        &:hover {
            color: $primary;
        }
    }

    @media #{$extra-small-mobile} {
        & a {
            padding-right: 8px;
            padding-left: 8px;
        }
    }
}

.dark-mode {
    .header-inner {
        background-color: $bg-dark;
    }

    .is-sticky {
        .header-inner {
            background-color: $bg-dark !important;
        }
    }

    .header-logo a img.light-logo {
        opacity: 1;
        position: static;
    }

    .header-login {
        a {
            color: $white
        }
    }
}

.silentbox-is-opened {
    .header-inner {
        z-index: -1;
    }
}

@import 'header/header-top';
@import 'header/language';
@import 'header/social';
@import 'header/main-menu';
@import 'header/mobile-menu';
@import 'header/mobile-menu-toggle';
@import 'header/search';
@import 'header/sidebar-mobile-menu';