/* 04.03 Breadcrumb CSS */

.breadcrumb {
    padding: 12px 0;
    background-color: transparent;

    & li {
        font-size: 14px;
        line-height: 1.67;
        display: flex;
        color: #696969;

        &.current {
            color: $dark;
        }

        &+li {
            &::before {
                margin: 0 15px;
                content: "/";
                color: $body-color;
            }
        }

        & a {
            position: relative;
            display: block;
            color: #696969;

            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                content: "";
                transition: $transition;
                background-color: #696969;
            }

            &:hover {
                color: $heading-color;

                &::before {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}

.dark-mode {
    .breadcrumb {
        li {
            color: $white;

            a {
                color: $paragraph-light;
            }
        }
    }
}