/* 04.18 Pagination CSS */

.pagination {
    flex-wrap: wrap;

    &.center {
        justify-content: center;
    }

    .page-item {
        .page-link {
            padding: 0.35rem 0.5rem;
            font-size: 16px;
            font-weight: 800;
            color: rgba(59, 63, 68, 0.68);
            line-height: 1;
            margin: 0 5px;
            text-align: center;
            text-transform: uppercase;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid transparent;

            &:focus {
                box-shadow: none;
            }
        }

        &.disabled {
            .page-link {
                cursor: not-allowed;
            }
        }

        &.active {
            .page-link {
                cursor: default;
                pointer-events: none;
                color: $primary;
                border-bottom-color: $primary;
                background-color: transparent;
            }
        }

        &:first-child,
        &:last-child {
            .page-link {
                font-size: 14px;
                line-height: 16px;
                color: $primary;
            }

            &.disabled {
                .page-link {
                    color: rgba(144, 146, 151, 0.68);
                }
            }
        }
    }
}